::before,
::after {
  box-sizing: border-box;
}
:root {
  --brand-color: #2196f3;
  --title-color: #212121;
  --description-color: #757575;
  --black-logo: #000000;
  --background-for-title: #2f303a;
  --background-photo-title: #2f303acc;
  --white: #ffffff;
  --background-container-two: #f5f4fa;
  --button-filters: #f5f4fa;
  --sonic-silver: #757575;
  --box-two-border: #eeeeee;
  --box-strengths: #f5f4fa;
  --client-background: #afb1b8;
  --grey-10: rgba(0, 0, 0, 0.1);
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--title-color);
  font-size: 14px;
  background-color: var(--white);
  letter-spacing: 0.03em;
}
h1,
h2,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0 auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
button {
  display: block;
  cursor: pointer;
  font-family: inherit;
  border: none;
  border-radius: 4px;
}
.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}
.section {
  padding: 94px 0;
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* HEADER */

.header-wrapper {
  border-bottom: 1px solid #ececec;
  padding: 24px 0 25px 0;
}
.header {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}
.logo-blue {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--brand-color);
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo-black {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--black-logo);
  list-style: none;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo-white {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--white);
  list-style: none;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.navigation {
  margin-left: 93px;
}
.navigation .list {
  display: flex;
  gap: 50px;
}
.current:visited {
  color: var(--brand-color);
}
.nav-active::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color);
  bottom: -200%;
}
.agency {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agency:hover,
.agency:focus {
  color: var(--brand-color);
}
.portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio:hover,
.portfolio:focus {
  color: var(--brand-color);
}
.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover,
.contact:focus {
  color: var(--brand-color);
}
.contact-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: auto;
}
.header-contact {
  color: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--description-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact:hover,
.header-contact:focus {
  color: var(--brand-color);
}
.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* FIRST SECTION */

.container-one {
  background-image: linear-gradient(#2f303a66, #2f303a66),
    url(../images/team.jpg);
  padding: 200px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-for-title);
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
}
.primary-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
  width: 696px;
  margin: 0 auto;
}
.button-order {
  display: initial;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: 0px;
  min-width: 200px;
  letter-spacing: 0.06em;
  color: var(--white);

  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  padding: 10px 32px;
}
.button-order:hover,
.button-order:focus {
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* SECOND SECTION */

.containder-section {
  padding-top: 94px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.containder-section .list {
  display: flex;
  gap: 30px;
}
.box-strengths {
  background: var(--box-strengths);
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
}
.fourth-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}
.description {
  line-height: 1.71;
  color: var(--description-color);
}

/* THIRD SECTION */

.container .list-secondary {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  padding-left: 0;
  margin: 0;
  list-style: none;
  max-width: 1170px;
}
.container-two {
  background: var(--background-container-two);
  padding: 94px 0;
}
.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
.photo-title-box {
  position: relative;
}

.photo-title {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  color: var(--white);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--background-photo-title);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FOURTH SECTION */

.team-list {
  display: flex;
  gap: 30px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-top: auto;
  margin-bottom: 10px;
}
.job-title {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--description-color);
  margin-bottom: 16px;
}
.box {
  background: var(--white);
  max-width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.social-links-section {
  padding: 30px 0;
}
.social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-links-item {
  width: 44px;
  height: 44px;
  background-color: var(--white);
  fill: var(--client-background);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links-item:hover,
.social-links-item:focus {
  background-color: var(--brand-color);
  fill: var(--white);
}

/* FIVTH SECTION*/

.client-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  text-align: center;
  justify-content: space-between;
  margin: 0;
}
.client-section {
  color: var(--client-background);
  border: 1px solid currentColor;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-section:hover,
.client-section:focus {
  color: var(--brand-color);
}

/* FOOTER SECTION */

.footer {
  background: var(--background-for-title);
  padding: 60px 0;
}
.footer-section {
  display: flex;
  align-items: baseline;
  gap: 70px;
}
.address {
  font-style: initial;
}
.logo-footer {
  margin-left: 0px;
  padding-bottom: 20px;
}
.info-footer .list {
  margin-left: 0;
  padding: 0;
}
.street {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
  padding-bottom: 9px;
}
.footer-contact {
  padding-bottom: 9px;
}
.mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--description-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail:hover,
.mail:focus {
  color: var(--brand-color);
}
.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--description-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  max-width: 110px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel:hover,
.tel:focus {
  color: var(--brand-color);
}
.join-us {
  font-weight: 700;
  line-height: 1.17;
  color: var(--white);
  margin-bottom: 20px;
}
.social-links-footer {
  text-decoration: none;
  list-style: none;
  display: flex;
  padding: 0;
  gap: 10px;
  margin: 0;
}
.social-links-item-footer {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-item-footer:hover,
.social-links-item-footer:focus {
  background-color: var(--brand-color);
  fill: var(--description-color);
  fill: var(--white);
}

/* portfolio */

.button-filters {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  background: var(--button-filters);
  border-radius: 4px;
  border: hidden;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.button-filters:hover,
.button-filters:focus {
  background-color: var(--brand-color);
  color: var(--white);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.portfolio-section {
  padding: 0;
}
.portfolio-item {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.border {
  padding: 20px 24px;
  border: 1px solid var(--box-two-border);
}
.thirdry-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}
.description-two {
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 0.03em;
  color: var(--sonic-silver);
}
.content-box {
  position: relative;
  overflow: hidden;
}
.content-box-style {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--brand-color);
  opacity: 0.9;
}
.portfolio-link:hover .content-box-style,
.portfolio-link:focus .content-box-style {
  transform: translateY(0);
}
.portfolio-description {
  font-weight: 400;
  font-size: 18px;
  color: var(--white);
  line-height: 1.5;
  width: 301px;
  height: 196px;
  margin-top: 49px;
  margin-left: 24px;
}

/* MODAL WINDOW */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--white);
  padding: 40px;
}
.modal-btn {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px solid var(--grey-10);
  top: 8px;
  right: 8px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 0.9;
  display: flex;
  justify-content: center;
}
.fieldset {
  display: flex;
  position: relative;
  margin: 28px 0 0;
  border: 1px solid #21212133;
  border-radius: 4px;
  align-items: center;
  padding: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fieldset:hover,
.fieldset:focus {
  border-color: var(--brand-color);
}
.label {
  position: absolute;
  top: -18px;
  left: 0;
  color: var(--alternative-color);
  font-size: 12px;
  line-height: 1.22;
}
.input {
  border: 0;
  outline: 0;
}
.icon {
  height: 20px;
  width: 20px;
  margin: 11px 12px;
  color: currentColor;
}
.icon:hover,
.icon:focus {
  fill: var(--brand-color);
}
.icon-form {
  position: absolute;
  top: 94px;
  left: 55px;
}
.label {
  display: flex;
  flex-direction: column;
  color: var(--description-color);
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.textarea {
  resize: none;
  border: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
}
.textarea:hover,
.textarea:focus {
  border-color: var(--brand-color);
}
.statute {
  color: var(--brand-color);
}
.form-submit-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: 0px;
  min-width: 200px;
  letter-spacing: 0.06em;
  color: var(--white);
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  margin: auto;
  margin-top: 30px;
  padding: 10px 76px
}
.checkbox-action:checked + .icon-uncheck {
color: currentColor;
}

.statute-section {
  display: block;
  position: relative;
  margin-top: 20px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.71;
  color: var(--description-color);
}
.checkbox {
  position: absolute;
  display: none;
  width: 16px;
  height: 15px;
}
.icon-uncheck {
  position: absolute;
  top: 3px;
  left: 4px;
  width: 16px;
  height: 15px;
  color: currentColor;
}
.icon-check {
  position: absolute;
  top: 3px;
  left: 4px;
  width: 16px;
  height: 15px;
  color: currentColor;
}
.statute-text {
  margin-left: 24px;
}