.baner {
  background-image: linear-gradient(#2f303a66, #2f303a66),
    url(../images/team-mobile.jpg);
  padding: 200px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-for-title);
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .baner {
    background-image: linear-gradient(
        rgba(40, 43, 44, 0.4),
        rgba(40, 43, 44, 0.4)
      ),
      url(../images/team-mobile@2x.jpg);
  }
}

.baner--title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  margin: 0 auto;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    width: 696px;
  }
}
