.baner {
  background-image: linear-gradient(#2f303a66, #2f303a66),
    url(../images/team-mobile.jpg);
  padding: 118px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-for-title);

  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .baner {
    background-image: linear-gradient(#2f303a66, #2f303a66),
      url(../images/team-tablet.jpg);
  }
}
@media screen and (min-width: 1200px),
  screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 288dpi),
  screen and (min-resolution: 3dppx) {
  .baner {
    background-image: linear-gradient(#2f303a66, #2f303a66),
      url(../images/team.jpg);
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
  }
}

.baner--title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
  width: 365px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .baner--title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}
