.footer {
  background: var(--background-for-title);
  padding: 60px 0;
}
.footer__section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer__section {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__section {
    display: flex;
    align-items: baseline;
    gap: 70px;
  }
}

.footer__address {
  font-style: initial;
}
.footer__logo {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-left: 0px;
    padding-bottom: 20px;
    display: block;
  }
}
.footer__info {
  .list {
    text-align: center;
  }
}
.footer__info--street {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
  padding-bottom: 9px;
  display: flex;
  justify-content: center;
}
.footer__info--contact {
  padding-bottom: 9px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer__info--contact {
    justify-content: left;
  }
}
// @media screen and (min-width: 768px){}
// @media screen and (min-width: 1200px){}

/// SOCIAL MEDIA SECTION ///

.footer__social-media--title {
  font-weight: 700;
  line-height: 1.17;
  color: var(--white);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer__social-media--title {
    justify-content: left;
  }
}
.social-links__item--list {
  text-decoration: none;
  list-style: none;
  display: flex;
  padding: 0;
  gap: 10px;
  margin: 0;
}
.social-links__item--footer {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--brand-color);
    fill: var(--description-color);
    fill: var(--white);
  }
}

/// NEWSLETTER SECTION ///

.footer__newsletter--box {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer__newsletter--box {
    flex-direction: row;
    align-items: baseline;
  }
}
.footer__newsletter--title {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  text-align: left;
  color: var(--white);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer__newsletter--title {
    justify-content: left;
  }
}
.footer__newsletter--mail {
  width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(117, 117, 117, 0.3);
  border-radius: 4px;
  padding: 16px 15px;
  background-color: transparent;
  margin-bottom: 20px;
}

.brand-button {
  &.footer__newsletter--button {
    padding: 10px 76px 10px 42px;
    margin: auto;
    min-width: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .brand-button {
    &.footer__newsletter--button {
      padding: 10px 76px 10px 42px;
      margin: 0 0 0 12px;
    }
  }
}
.footer__newsletter--icon-send {
  width: 24px;
  height: 24px;
  position: absolute;
  color: currentColor;
  margin-left: 24px;
}

// @media screen and (min-width: 768px){}
// @media screen and (min-width: 1200px){}
