.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 0.9;
  letter-spacing: 0.03em;
  color: var(--black-logo);
  display: flex;
  flex-wrap: nowrap;
  position: relative;

  &__blue {
    color: var(--brand-color);
  }
  &__white {
    color: var(--white);
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--black-logo);
    display: flex;
    flex-wrap: nowrap;
    position: relative;
  }
}

// @media screen and (min-width: 768px){}
