.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: var(--white);
  padding: 40px;

  @media screen and (max-width: 1199px) {
    width: 95%;
    max-width: 450px;
    height: 95%;
    max-height: 609px;
    overflow: scroll;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}
.modal--title {
  font-weight: 700;
  font-size: 20px;
  line-height: 0.9;
  text-align: center;
}
.modal__fieldset {
  display: flex;
  position: relative;
  margin: 28px 0 0;
  border: 1px solid #21212133;
  border-radius: 4px;
  align-items: center;
  padding: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--brand-color);
    fill: var(--brand-color);
  }
}
.modal__fieldset--label {
  position: absolute;
  top: -18px;
  left: 0;
  color: var(--description-color);
  font-size: 12px;
  line-height: 1.22;
}
.modal__fieldset--icon {
  margin: 11px 12px;
  color: currentColor;

  &:hover,
  &:focus {
    fill: var(--brand-color);
  }
}
.modal__fieldset--input {
  border: 0;
  outline: 0;
  width: 100%;
}
.modal__fieldset--textarea {
  resize: none;
  border: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  &:hover,
  &:focus {
    border-color: var(--brand-color);
    outline: transparent;
  }
}
.modal__statute {
  display: block;
  position: relative;
  margin-top: 20px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.71;
  color: var(--description-color);
}
.modal__statute--label {
  margin-left: 24px;
}
.modal__statute--links {
  color: var(--brand-color);
}
.modal__button--close {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px solid var(--grey-10);
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// @media screen and (min-width: 768px){}
// @media screen and (min-width: 1200px){}
