.social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: initial;
}
.social-links__item {
  width: 44px;
  height: 44px;
  background-color: var(--white);
  fill: var(--client-background);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--brand-color);
    fill: var(--white);
  }
}
