::before,
::after {
  box-sizing: border-box;
}
:root {
  --brand-color: #2196f3;
  --title-color: #212121;
  --description-color: #757575;
  --black-logo: #000000;
  --background-for-title: #2f303a;
  --background-photo-title: #2f303acc;
  --white: #ffffff;
  --background-container-two: #f5f4fa;
  --button-filters: #f5f4fa;
  --sonic-silver: #757575;
  --box-two-border: #eeeeee;
  --box-strengths: #f5f4fa;
  --client-background: #afb1b8;
  --grey-10: rgba(0, 0, 0, 0.1);
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--title-color);
  font-size: 14px;
  background-color: var(--white);
  letter-spacing: 0.03em;
}
h1,
h2,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0 auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
button {
  display: block;
  cursor: pointer;
  font-family: inherit;
  border: none;
  border-radius: 4px;
}
.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}
.section {
  padding: 94px 0;
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.contact--item {
  color: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--description-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}
